#listephotos
{
	margin-top: 10px;
}

.crop
{
	width: 512px;
	height: 288px;
	overflow: hidden;
    border: 3px solid #333333;
    background-position: center center;
    background-size: cover;
}

#envoiparticipation
{
	margin-top: 10px;
	text-align: center;
}